# Name Roll Number
**Qazi Danish Ayub MSDS20075**

# Q1:
**Can two identical transactions with different transaction Id’s exist in this table?**
Ans: No, there is no identical transaction exist with different transaction id's

**Is the above table is normalized form? If not, what normalization properties it abides?**
Ans:No table is not normalized.And It abides following properties:
       1 Atomic Values
       2 Have Partial Dependency

# Q3:
Convert the table into 1st, 2nd and 3rd normal forms.

In [3]:
import psycopg2

In [4]:
# Create a connection
try: 
    conn = psycopg2.connect("host=127.0.0.1 user=postgres password=12345678")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
# get a cursor    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)
    
# set the autocommit to true    
conn.set_session(autocommit=True)

In [5]:
# Create a DataBase with name Assignment1
cur.execute("""Create database dbassignment1""")

In [6]:
# Create a connection
try: 
    conn1 = psycopg2.connect("host=127.0.0.1 dbname=dbassignment1 user=postgres password=12345678")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
# get a cursor    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)
    
# set the autocommit to true    
conn.set_session(autocommit=True)

In [7]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Transactions (transaction_id int, \
                                                           customer_name varchar, cashier_name varchar, \
                                                           year int, albums text[], 
                                                            PRIMARY KEY(transaction_id));""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [8]:
query = "INSERT INTO Transactions (transaction_id, customer_name, cashier_name, year, albums) VALUES (%s, %s, %s, %s, %s)"

In [9]:
try: 
    cur.execute(query, (1, "Ahmad ", "Bilal", 2006, ["Nevermind", "Lake Walkers", "The Dark Side of Moon"]))
    cur.execute(query,(2, "Haseeb","Usman", 2009, ["Lemonadade"]))
    cur.execute(query, (3, "Maham ", "Archer", 2012, ["Pet Sounds", "Pretenders", "The Dark Side of Moon"]))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
column "albums" of relation "transactions" does not exist
LINE 1: ...ransaction_id, customer_name, cashier_name, year, albums) VA...
                                                             ^

In [10]:
try: 
    cur.execute("SELECT * FROM Transactions;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone() #fetchone fetch the rows one at a time

while row:
    print(row)
    row = cur.fetchone()

(1, 'Ahmad ', 'Bilal', 2006, ['Nevermind', 'Lake Walkers', 'The Dark Side of Moon'])
(2, 'Haseeb', 'Usman', 2009, ['Lemonadade'])
(3, 'Maham ', 'Archer', 2012, ['Pet Sounds', 'Pretenders', 'The Dark Side of Moon'])

**1st Normalization Form**

In [12]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Transaction2 (transaction_id int, \
                                                           customer_name varchar, cashier_name varchar, \
                                                           year int, albums varchar, 
                                                            PRIMARY KEY(transaction_id,customer_name,albums));""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [13]:
query = "INSERT INTO Transaction2 (transaction_id, customer_name, cashier_name, year, albums) VALUES (%s, %s, %s, %s, %s)"
try: 
    cur.execute(query, (1, "Ahmad", "Bilal", 2006, "Nevermind"))
    cur.execute(query, (1, "Ahmad", "Bilal", 2006, "Lake Walkers"))
    cur.execute(query, (1, "Ahmad", "Bilal", 2006, "The Dark Side of Moon"))
    cur.execute(query, (2, "Haseeb","Usman", 2009,   "Lemonadade"))
    cur.execute(query, (3, "Maham ", "Archer", 2012, "Pet Sounds" ))
    cur.execute(query, (3, "Maham ", "Archer", 2012, "Pretenders"))
    cur.execute(query, (3, "Maham ", "Archer", 2012, "The Dark Side of Moon"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
column "albums" of relation "transaction2" does not exist
LINE 1: ...ransaction_id, customer_name, cashier_name, year, albums) VA...
                                                             ^

In [14]:
try: 
    cur.execute("SELECT * FROM Transaction2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Ahmad', 'Bilal', 2006, 'Nevermind')
(1, 'Ahmad', 'Bilal', 2006, 'Lake Walkers')
(1, 'Ahmad', 'Bilal', 2006, 'The Dark Side of Moon')
(2, 'Haseeb', 'Usman', 2009, 'Lemonadade')
(3, 'Maham ', 'Archer', 2012, 'Pet Sounds')
(3, 'Maham ', 'Archer', 2012, 'Pretenders')
(3, 'Maham ', 'Archer', 2012, 'The Dark Side of Moon')

**2nd Normalization Form**

In [24]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Albums(album_id integer NOT NULL,
                                                            album_name varchar NOT NULL,
                                                            PRIMARY KEY (album_id)
                                                        );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [25]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Customers (customer_id integer NOT NULL,
                                                            customer_name varchar NOT NULL,
                                                            PRIMARY KEY (customer_id)
                                                        );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [26]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Cashiers(cashier_id integer NOT NULL,
                                                            cashier_name varchar NOT NULL,
                                                            PRIMARY KEY (cashier_id)
                                                        );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [27]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Transaction_details
                                                        (transaction_id integer NOT NULL,
                                                         customer_id  integer NOT NULL,
                                                            cashier_id integer  NOT NULL,
                                                            year integer NOT NULL,
                                                            PRIMARY KEY (transaction_id)
                                                        );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [28]:
try: 
    cur.execute("""CREATE TABLE IF NOT EXISTS Transaction_items (transaction_item_id integer NOT NULL ,
                                                                 transaction_id integer NOT NULL, 
                                                                 album_id integer NOT NULL,
                                                                 PRIMARY KEY ("transaction_item_id")
                                                          );""")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [29]:
query2 = "INSERT INTO Albums (album_id, album_name) VALUES ( %s, %s)"

try: 
    cur.execute(query2, (1,  "Nevermind"))
    cur.execute(query2, (2,  "Lemondade"))
    cur.execute(query2, (3,  "Pet Sounds"))
    cur.execute(query2, (4,  "Lake Walkers" ))
    cur.execute(query2, (5,  "The dark side of moon"))
    cur.execute(query2, (6,  "Pretenders"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [30]:
try: 
    cur.execute("SELECT * FROM Albums;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Nevermind')
(2, 'Lemondade')
(3, 'Pet Sounds')
(4, 'Lake Walkers')
(5, 'The dark side of moon')
(6, 'Pretenders')

In [33]:
query2 = "INSERT INTO Customers (customer_id, customer_name) VALUES ( %s, %s)"

try: 
    cur.execute(query2, (1,  "Ahmad"))
    cur.execute(query2, (2,  "Haseeb"))
    cur.execute(query2, (3,  "Maham"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM Customers;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Error: Inserting Rows
duplicate key value violates unique constraint "customers_pkey"
DETAIL:  Key (customer_id)=(1) already exists.

(1, 'Ahmad')
(2, 'Haseeb')
(3, 'Maham')

In [34]:
query2 = "INSERT INTO Cashiers (cashier_id, cashier_name) VALUES ( %s, %s)"

try: 
    cur.execute(query2, (1,  "Bilal"))
    cur.execute(query2, (2,  "Usman"))
    cur.execute(query2, (3,  "Archer"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM Cashiers;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

Error: Inserting Rows
duplicate key value violates unique constraint "cashiers_pkey"
DETAIL:  Key (cashier_id)=(1) already exists.

(1, 'Bilal')
(2, 'Usman')
(3, 'Archer')

In [35]:
query2 = "INSERT INTO Transaction_details (transaction_id,customer_id,cashier_id,year) VALUES ( %s, %s, %s, %s)"

try: 
    cur.execute(query2, (1,1,1,2006))
    cur.execute(query2, (2,2,2,2009))
    cur.execute(query2, (3,3,3,2012))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM Cashiers;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 1, 2006)
(2, 2, 2, 2009)
(3, 3, 3, 2012)

In [37]:
query2 = "INSERT INTO Transaction_items (transaction_item_id,transaction_id,album_id) VALUES ( %s, %s, %s)"

try: 
    cur.execute(query2, (1,1,1))
    cur.execute(query2, (2,1,4))
    cur.execute(query2, (3,1,5))
    cur.execute(query2, (4,2,2))
    cur.execute(query2, (5,3,3))
    cur.execute(query2, (6,3,6))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM Transaction_items;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 1, 1)
(2, 1, 4)
(3, 1, 5)
(4, 2, 2)
(5, 3, 3)
(6, 3, 6)

**3rd Normal Form**
There is No transitive Property Exist after 2nd Normal form

# Q4:
**Write a query to create the original table from normalized tables**

In [74]:
try: 
    cur.execute("SELECT ts.transaction_id, array_agg(distinct c.customer_name),array_agg(distinct cc.cashier_name), array_agg(distinct td.year), array_agg(al.album_name) FROM Transaction_items ts JOIN Transaction_details td ON td.transaction_id = ts.transaction_id JOIN Albums al ON al.album_id = ts.album_id  JOIN Customers c ON td.customer_id = c.customer_id JOIN Cashiers cc ON td.cashier_id = cc.cashier_id  GROUP BY ts.transaction_id  ORDER BY ts.transaction_id;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, ['Ahmad'], ['Bilal'], [2006], ['Nevermind', 'Lake Walkers', 'The dark side of moon'])
(2, ['Haseeb'], ['Usman'], [2009], ['Lemondade'])
(3, ['Maham'], ['Archer'], [2012], ['Pet Sounds', 'Pretenders'])

# Question 5
**Find out all the customers who bought “The Dark Side of Moon” using the normalized tables.**

In [75]:
try: 
    cur.execute("SELECT ts.transaction_id, array_agg(distinct c.customer_name),array_agg(distinct cc.cashier_name), array_agg(distinct td.year), array_agg(al.album_name) FROM Transaction_items ts JOIN Transaction_details td ON td.transaction_id = ts.transaction_id JOIN Albums al ON al.album_id = ts.album_id  JOIN Customers c ON td.customer_id = c.customer_id JOIN Cashiers cc ON td.cashier_id = cc.cashier_id Where al.album_name='The dark side of moon'  GROUP BY ts.transaction_id  ORDER BY ts.transaction_id;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, ['Ahmad'], ['Bilal'], [2006], ['The dark side of moon'])